.Deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  list-style: none;

  &__Item {
    margin: 5px;
    padding: 10px;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  &__Title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__Button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fff;
      color: #2a2a2a;
    }
  }
}

.CreateDeck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
  gap: 5px;

  &__Title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__Input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__Button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fefefe;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fefefe;
      color: #000;
    }
  }
}
